<footer class="site-footer">

  <div class="wrapper">
    <nav class="foot-nav">
      <ul class="post-list no-marker">
        {% for post in site.posts %}
          <li>
            <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="org-info">
      <h2 class="footer-heading">{{ site.title }}</h2>

      <div class="site-description">
        <p>{{ site.description }}</p>
        <p>{{ site.description_body }}</p>
      </div>

      {% include social/social-links.html %}


    </div>

</footer>
