.alphabet-table-key{
	height: 200px;

}


.alphabet-table-value{
   > div{
    	height: 200px;
   }
}

@media screen and (max-width: 900px){
  .alphabet-table-value{
   	> div{
      height: auto;
    }
  }
}  
.custom-collapsible{
	margin: 0 !important;
	
}