.alphabet-table-key{
	height: 200px;

}


.alphabet-table-value{
   > div{
    	height: 200px;
   }
}

@media screen and (max-width: 900px){
  .alphabet-table-value{
   	> div{
      height: auto;
    }
  }
}  
.custom-collapsible{
	margin: 0 !important;
	
}

//changing jquerymobile css
.ui-collapsible-themed-content .ui-collapsible-content{
	border: 0px;
}

.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a{
	background-color: transparent;
}