//Reset some basic elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
ol,
ul,
dd,
dt,
dl,
figure {
  margin: 0;
  padding: 0;
}


//Basic styling
body {
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}


//Set `margin-bottom` to maintain vertical rhythm
h1,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ol,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


//Images
img {
  max-width: 100%;
  vertical-align: middle;
}


//Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: $base-font-weight;
}
h2 {
  border-bottom: 1px solid rgba($bvn-black, .33);
  display: block;
  margin-bottom: 1em;
  padding-bottom: 0;
  padding-top: 20px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

//Links
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


//Blockquotes
blockquote {
  border-left: 4px solid $grey-color-light;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}


//Code formatting
pre,
code {
  background-color: #eef;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  font-size: 15px;
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


.page-content {
  @include outer-container;
  @include media(max-width 850px) {
    @include outer-container(95%);
  }
}


//Wrapper
.wrapper {
  @include span-columns(12);
}


//Clearfix
%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}


//Icons
.icon {
  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: $grey-color;
    }
  }
}


//Wrong Cross Icon
.cross-options {
  @include span-columns(1);
}

.red-cross-spacing {
  @include span-columns(12);
}


//breakline
hr {
  margin-bottom: 10px;
}


//List
ul {
  list-style-position: outside;
  > li{
    > ul{
      > li{
        list-style: none;
      }
    }
  }
}

//Text span options
.highlight-red {
  color: red;
}

.transform-to-uppercase {
  text-transform: uppercase;
}


    //dl tables propeties
  dt {
    clear: left;
    float: left;
    > div {
      > p {
        line-height: 1.2;
        //original height is "1.5px". Add both "line-height" and "Margin-top" to get 1.5
        margin-bottom: 0;
        margin-top: 3px;
      }
    }
  }

  dd {
    > div {
      > p {
        line-height: 1.2;
        //original height is "1.5px". Add both "line-height" and "Margin-top" to get 1.5
        margin-bottom: 0;
        margin-top: 3px;
      }
      > ul {
        > li:before {
          //content: '-';
          padding-right: 8px;
        }
      }
    }
  }

//Jquery collapsible box
  .custom-collapsible {
    margin: 0 !important;
  }

  //changing jquerymobile css
  .ui-collapsible-themed-content .ui-collapsible-content {
    border: 0;
  }

  .ui-body-a,
  .ui-page-theme-a .ui-body-inherit,
  .ui-bar-a .ui-body-inherit,
  .ui-body-a .ui-body-inherit,
  .ui-group-theme-a .ui-body-inherit,
  .ui-panel-page-container-a {
    background-color: transparent;
  }
