//Reset some basic elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
ol,
ul,
dd,
dt,
dl,
figure {
  margin: 0;
  padding: 0;
}


//Basic styling
body {
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-size-adjust: 100%;
}

.still-loading { font-family: $unstyled-font-family;}

//Paragraph
p {
  hyphens: auto;
}

h1 {
  text-transform: uppercase;
}

//Set `margin-bottom` to maintain vertical rhythm
h1,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ol,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


//Images
img {
  max-width: 100%;
  vertical-align: middle;
}


//Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: $base-font-weight;
}


//Links
a {

  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

strong {
  color: $tertiary-red;
  font-weight: normal;
}

.small-caps {
  font-variant: small-caps;
}

//Blockquotes
blockquote {
  border-left: 4px solid $grey-color-light;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}


//Code formatting
pre,
code {
  background-color: $grey-color-light;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  font-size: 15px;
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


.page-content {
  @include outer-container;
  @include media(max-width 1000px) {
    @include outer-container(95%);
  }
}


//Wrapper
.wrapper {
  @include span-columns(12);
}


//Clearfix
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}


//Icons
.icon {
  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: $grey-color;
    }
  }
}




//breakline
hr {
  margin-bottom: 10px;
}


//List
ul {
  list-style-position: outside;

  li {
    list-style: none;
    margin-left: 25px;
  }

  li::before {
    //this is an svg dash
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='10'><line x1='20' y1='0' x2='400' y2='0' stroke-width='2' stroke='black'/></svg>");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 90%;
    content: '';
    display: block;
    float: left;
    height: 1em;
    margin-left: -1.5em;
    width: 1em;
  }

}

ul::first-line {
  text-indent: -8 px;
}

//Text span options
.highlight-red {
  color: $tertiary-red;
}

.caps {
  text-transform: uppercase;
}


//dl tables propeties
dt {
  clear: left;
  float: left;

  > div {
    > p {
      line-height: 1.2;
      //original height is "1.5px". Add both "line-height" and "Margin-top" to get 1.5
      margin-bottom: 0;
      margin-top: 3px;
    }
  }
}

dd {
  float: left;

  > div {
    > p {
      line-height: 1.2;
      //original height is "1.5px". Add both "line-height" and "Margin-top" to get 1.5
      margin-bottom: 0;
      margin-top: 3px;
    }

    > ul {
      > li::before {
        padding-right: 8px;
      }
    }
  }
}

// .full-width{
//
// }

.half-width {
  @include span-columns(6);
  @include omega();
  padding-top: 1em;

  &.small-pop {
    @include media-query($on-palm) {
      float: none;
      width: initial;
    }
  }
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}


//changing jquerymobile css
.ui-collapsible-themed-content .ui-collapsible-content {
  border: 0;
}

.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
.ui-bar-a .ui-body-inherit,
.ui-body-a .ui-body-inherit,
.ui-group-theme-a .ui-body-inherit,
.ui-panel-page-container-a {
  background-color: transparent;
}


.cart-collapsible-div {
  a {
    color: $grey-color;
    font-size: 1em;
    font-style: bold;
    padding-left: 15px;
  }

}

//remove Ajax spinner
.ui-loading .ui-loader {
  display: none;
}

.edit-link {
  left: 0;
  opacity: .3;
  position: absolute;
  top: 0;

  &.inline {
    position: inherit;
  }

  a {
    color: $grey-color-dark;
  }
}
