#cart-philosophies{


  
    .cart-philosophies-definition p:hover{
      background-color: yellow;
    }
  



  @media screen and (min-width: 800px){
    %cart-philosophies-block{
      @include span-columns(6);
      @include omega();
      //position: static;
      
      display:inline-block;
      vertical-align:top;
      
      border-style: solid;
      border-color: red;
      boarder-width: 1px;
      
      //clear: both;
    }
  }

  %cart-philosophies-block{
    padding: 30px;
    height: auto;
    //display: inline-block;
    //display: inline;
    //float: left;
    //position: static;
  }

  .cart-philosophies-normal{
    @extend %cart-philosophies-block;
  }

  .cart-philosophies-definition{
    @extend %cart-philosophies-block;
    background-color: #e4e4e4;
  }

  .cart-philosophies-guides{
    @extend %cart-philosophies-block;
    border-style: solid;
    border-width: 2px;
  }

}