#cart-philosophies{

  @media screen and (min-width: 800px){
    %cart-philosophies-block{
      @include span-columns(6);
      @include omega();
    }
  }

  %cart-philosophies-block{
    padding: 10px;
    display: inline-block;
    //display: inline;
    float: none;
    //position: static;
  }

  .cart-philosophies-normal{
    @extend %cart-philosophies-block;
  }

  .cart-philosophies-definition{
    @extend %cart-philosophies-block;
    background-color: #e4e4e4;
  }

  .cart-philosophies-guides{
    @extend %cart-philosophies-block;
    border-style: solid;
    border-width: 2px;
  }

}