
.secondary-swatch, .tertiary-swatch  {
    display: inline-block;
    height: 2em;
    width: 5em;
}


span.colour-letter {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    text-align: right;
}
span.colour-value {
    display: inline-block;
    width: 1.7em;
    text-align: right;
}

.swatch{
  display: inline-block;

  &.primary{
    @include span-columns(6);
    @include omega(2n);
    //width: 49.7%;//this is very annoying there is a space between them. TODO make a media query for this
    .bvn-white{
        stroke-width: 1px; 
        stroke: black
      }
  }
  &.tint{
    width: 100%;
    .tint-wrapper{      
      display: inline-block;
      @include span-columns(3);
      div{
        height: 2em;
        &.tint100{background-color:rgba($bvn-black, 1.00)}
        &.tint070{background-color:rgba($bvn-black, 0.70)}
        &.tint040{background-color:rgba($bvn-black, 0.40)}
        &.tint015{background-color:rgba($bvn-black, 0.15)}
      }
      .tint-value {
        text-align: center;
      }
    }
    
  }
  &.secondary, &.tertiary{
  	@include span-columns(2);
  	height: 2em;
  }
  .cmyk {
    display: block;
  }
}