.post.graphic-elements {

  .graphic-elements-container {
    @include outer-container;
    @span-columns(10);
    @include shift(1.5);
    svg {
      @include span-columns(2.5);
      @include omega(4n);
      padding: 15px;
    }
  }

  .graphical-elements-logo-split {
    @include shift(3);
    @include span-columns(6);
    @include omega();
}

  .graphical-logo-frame {
    .logo-structure-bvn-text {opacity: .2;}
    .logo-structure-circle-bot {opacity: 1;  }
  }

  .graphical-logo-box {
    .logo-structure-black-box {opacity: 1; }
    .logo-structure-white-box {opacity: 0; }
    .logo-structure-bvn-text { opacity: 0; }
    .logo-structure-frame {    opacity: 0; }
  }

  .graphical-logo-circle {
    .logo-structure-black-box {opacity: 0; }
    .logo-structure-white-box {opacity: 0; }
    .logo-structure-bvn-text { opacity: .2; }
    .logo-structure-frame {    opacity: 0; }
    .logo-structure-circle-bot {fill: $bvn-black; }
  }

}
