.intro-text{
  p{
    @include span-columns(10);
    @include shift(1);
    .name {
        margin-top: 2em;
        margin-bottom: 0;
        font-weight: bold;
    }
  }
  .signature{
  	@include shift(1);
  }
}