#stretch{
	@include span-columns(3);
	@include omega(2n);
	height: 20em;
}
#squash{
	@include span-columns(9);
	height: 6em;
}

#logo-white-on-black{
	rect{fill:$bvn-black;}
	path{fill:$bvn-white;}
}
#logo-black-on-white{
	rect{fill:$bvn-white;}
	path{fill:$bvn-black;}
}

#stripped-background{
	.background{		fill: green;		}
	.foreground{		fill: yellow;		}
	.bvn-text-colour{	fill: white;		}
}

#pink-background{
	.background{		fill: pink;			}
	.foreground{		fill: pink;			}
	.bvn-text-colour{	fill: blue;			}
}	

#logo-clear-space{
	.logo-one-third-clear-space{	visibility:visible;		}
	.logo-surrounding-rectangle{	visibility:visible;		}
	.logo-top-circle{				visibility:visible;		}
	.logo-guide-lines{				visibility:hidden;		}
	.logo-bvn-text{					visibility:visible;		}
}
