#stretch{
	width: 10em;
	height: 20em;
}
#squash{
	width: 30em;
	height: 10em;
}

#logo-white-on-black{
	rect{fill:$bvn-black;}
	path{fill:$bvn-white;}
}
#logo-black-on-white{
	rect{fill:$bvn-white;}
	path{fill:$bvn-black;}
}

#stripped-background{
	.background{		fill: green;		}
	.foreground{		fill: yellow;		}
	.bvn-text-colour{	fill: white;		}
}

#pink-background{
	.background{		fill: pink;			}
	.foreground{		fill: pink;			}
	.bvn-text-colour{	fill: blue;			}
}	
