#stretch{
	width:  50vw;
    height: 100vw;
}
#squash{
	width: 90vw;
	height: 50vw;
}

#logo-white-on-black{
	rect{fill:$bvn-black;}
	path{fill:$bvn-white;}
}
#logo-black-on-white{
	rect{fill:$bvn-white;}
	path{fill:$bvn-black;}
}

#stripped-background{
	.background{		fill: green;		}
	.foreground{		fill: yellow;		}
	.bvn-text-colour{	fill: white;		}
}

#pink-background{
	.background{		fill: pink;			}
	.foreground{		fill: pink;			}
	.bvn-text-colour{	fill: blue;			}
}	
