.style-guide-block-width {
  @include span-columns(12);
}

@media screen and (min-width: $media-query-width){
  .style-guide-block-text {
    @include span-columns(6);
    @include omega();
  }

  .style-guide-block-image {
    @include span-columns(6);
    margin-bottom: 10px;

    > svg {
      float: right;
    }
  }

  .cross-options {
    fill: none;
    stroke: $tertiary-red;
    width: 75px;
  }


}
