#svg-tower{



  .svg-hidden-lines{
    fill:none;
    stroke:#000000;
    stroke-width:5.000000e-002;
    stroke-linejoin:round;
    stroke-dasharray:0.5,0.5;
  }


  .svg-line-02{
    fill:none;
    stroke:#000000;
    stroke-width:0.1;
    stroke-linejoin:round;
    stroke-dasharray:0.5,0.5;
  }
  
  .svg-like-01{
    fill:none;
    stroke:#000000;
    stroke-width:5.000000e-002;
    stroke-linejoin:round;
    stroke-dasharray:0.5,0.5;
  }


  .svg-line-04{
    fill:none;
    stroke:#000000;
    stroke-width:5.000000e-002;
    stroke-linejoin:round;
  }

  .svg-line-05{
    fill:none;
    stroke:#000000;
    stroke-width:0.1;
    stroke-linecap:round;
    stroke-linejoin:round;
  }

  .svg-opacity-layer{
    opacity:0.4;
  }
  
  .svg-display-none{
    display:none;
  }

  .svg-display-inline{
    display:inline;
  }

  .svg-color-purple{
    fill:#FF00FF;
  }

  .svg-color-grey{
    fill:#969696;
  }

  .svg-color-green{
    fill:#00FF00;
  }
  
  .svg-color-orange{
    fill:#FFBF00;
  }

  .svg-color-blue{
    fill:#3FBFBF;
  }

  .svg-color-red{
    fill:#9F2538;
  }



  





}