#svg-tower{

  //colours
  .st0{fill:#969696;}
  .st37{fill:#FF00FF;}
  .st38{fill:#3FBFBF;}
  .st127{fill:#FFBF00;}
  .st145{fill:#00FF00;}




  //opacity
  .st2{opacity:0.4;}

  //main outline
  //.st1, .st45,  .st5, .st6, .st7, .st8, .st9, .st10, .st11, .st12, .st13, .st14, .st15, .st16, .st17, .st18, .st19, .st20, .st21, .st22, .st23, .st24, .st25, .st26, .st27, .st28, .st29, .st30, .st31, .st32, .st33, .st34, .st35, .st36, .st39, .st40, .st41, .st42, .st43, .st44, .st46, .st47, .st48, .st49, .st50, .st51, .st52, .st53, .st54, .st55, .st56, .st57, .st58, .st59, .st60, .st61, .st62, .st63, .st64, .st65, .st66, .st67, .st68, .st69, .st70, .st71, .st72, .st73, .st74, .st75, .st76, .st77, .st78, .st79, .st80, .st81, .st82, .st83, .st84, .st85, .st86, .st87, .st88, .st89, .st90, .st91, .st92, .st93, .st94, .st95, .st96, .st97, .st98, .st99, .st100, .st101, .st102, .st103, .st104, .st105, .st106, .st107, .st108, .st109, .st110, .st111, .st112, .st113, .st114, .st115, .st116, .st117, .st118, .st119, .st120, .st121, .st122, .st123, .st124, .st125, .st126, .st128, .st129, .st130, .st131, .st132, .st133, .st134, .st135, .st136, .st137, .st138, .st139, .st140, .st141, .st142, .st143, .st144, .st146, .st147, .st148, .st149, .st150, .st151, .st152, .st153, .st154, .st155, .st156, .st157, .st158, .st159, .st160, .st161, .st162, .st163, .st164, .st165, .st166, .st167, .st168, .st169, .st170, .st171, .st172, .st173, .st175, .st177, .st178, .st179, .st181, .st182, .st185, .st187, .st189, .st191, .st193, .st195, .st196, .st197, .st198, .st200, .st201, .st202, .st203, .st204, .st205, .st206, .st207, .st208, .st209, .st210, .st211, .st212, .st213, .st214, .st215, .st216, .st217, .st218, .st219, .st220, .st221, .st222, .st223, .st224, .st225, .st226, .st227, .st228, .st229, .st230, .st231, .st232, .st233, .st234, .st235, .st236, .st237, .st238, .st239, .st240, .st241, .st242, .st243, .st244, .st245, .st246, .st247, .st248, .st249, .st250, .st251, .st252, .st254, .st255, .st256, .st257, .st258, .st259, .st260, .st261, .st262, .st263, .st264, .st265, .st266, .st267, .st268, .st269, .st270, .st271, .st272, .st273, .st274, .st275, .st276, .st277, .st278, .st279, .st280, .st281, .st282, .st283, .st284, .st285, .st286, .st287, .st288, .st289, .st290, .st291, .st292, .st293, .st294, .st295, .st296, .st297, .st298, .st299, .st300, .st301, .st302, .st303, .st304, .st305, .st306, .st307, .st308, .st309, .st310, .st311, .st312, .st313, .st314, .st315, .st316, .st317, .st318, .st319, .st320, .st321, .st322, .st323, .st324, .st325, .st326, .st327, .st328, .st329, .st330, .st331, .st332, .st333, .st334, .st335, .st336, .st337, .st338, .st339, .st340, .st341, .st342, .st343, .st344, .st345, .st346, .st347, .st348, .st349, .st350, .st351, .st352, .st353, .st354, .st355, .st356, .st357, .st358, .st359, .st360, .st361, .st362, .st375, .st376, .st377, .st378, .st379, .st380, .st381, .st382, .st383, .st384, .st385, .st386, .st387, .st388, .st394, .st395, .st396, .st397, .st398, .st399, .st400, .st401, .st402, .st403, .st404, .st405, .st406, .st407, .st409, .st410, .st411, .st412, .st413, .st414, .st415, .st416, .st417, .st419, .st420, .st421, .st422, .st423, .st424, .st425, .st426, .st427, .st428, .st429, .st430, .st431, .st432, .st433, .st434, .st435, .st436, .st437, .st438, .st439, .st440, .st441, .st442, .st443, .st444, .st445, .st446, .st447, .st448, .st449, .st450, .st451, .st452, .st453, .st454, .st455, .st456, .st457, .st458, .st459, .st460, .st461, .st462, .st463, .st464, .st465, .st466, .st467, .st468, .st469, .st470, .st471, .st472, .st473, .st474, .st475, .st476, .st477, .st478, .st479, .st480, .st481, .st482, .st483, .st484, .st485, .st486, .st487, .st488, .st489, .st490, .st491, .st492, .st493, .st494, .st495, .st496, .st497, .st498, .st499, .st500, .st501, .st502, .st503, .st504, .st505, .st506, .st507, .st508, .st509, .st510, .st511, .st512, .st513, .st514, .st515, .st516, .st517, .st518, .st519, .st544, .st545, .st546, .st547, .st548, .st549, .st550, .st551, .st552, .st553, .st554, .st555, .st556, .st557, .st558, .st559, .st560, .st561, .st562, .st563, .st564, .st565, .st566, .st567, .st568, .st569, .st570, .st571, .st572, .st573, .st574, .st575, .st576, .st577, .st581, .st597, .st601, .st605, .st606, .st607, .st608, .st609, .st610, .st611, .st612, .st613, .st614, .st615, .st616, .st617, .st618, .st619, .st620, .st621, .st622, .st623, .st624, .st625, .st626, .st627, .st628, .st629, .st630, .st631, .st632, .st633, .st634, .st635, .st636, .st637, .st638, .st639, .st640, .st641, .st642, .st643, .st644, .st645, .st646, .st647, .st648, .st649, .st650, .st651, .st652, .st653, .st654, .st655, .st656, .st657, .st658, .st659, .st660, .st661, .st662, .st663, .st664, .st665, .st666, .st667, .st668, .st669, .st670, .st671, .st674, .st675, .st676, .st677, .st678, .st679, .st680, .st681, .st682, .st683, .st684, .st685, .st686, .st687, .st688, .st689, .st690, .st691, .st692, .st693, .st695, .st696, .st697, .st698{
  .svg-basic-line{
    fill:none;
    stroke:#000000;
    stroke-width:0.1;
    stroke-linecap:round;
    stroke-linejoin:round;
  }
  
//Dash lines
.st253, .st3, .st578, .st580, .st582, .st584, .st585, .st587, .st588, .st590, .st591, .st593, .st594, .st596, .st598, .st600, .st602, .st604,  .st579, .st583, .st586, .st589, .st592, .st595, .st599, .st603, .st4, .st365, .st366, .st367, .st368, .st369, .st370, .st371, .st372, .st373, .st374, .st389, .st390, .st391, .st392, .st393, .st418, .st524, .st525, .st526, .st527, .st529, .st530, .st531, .st532, .st533, .st534, .st535, .st536, .st537, .st538, .st540, .st541, .st542, .st418, .st418, .st524, .st525, .st526, .st527, .st529, .st530, .st531, .st532, .st533, .st534, .st535, .st536, .st537, .st538, .st540, .st541, .st542{
  fill:none;
  stroke:#000000;
  stroke-width:0.1;
  stroke-linejoin:round;
  stroke-dasharray:0.5,0.5;
}

//just dashed
.st673, .st694, .st699, .st700, .st701, .st702, .st703, .st704, .st705, .st706, .st707, .st708, .st710, .st712, .st713, .st714, .st717, .st719, .st720, .st721, .st723, .st724, .st725, .st726, .st727, .st728, .st729, .st730, .st731{
  fill:none;
  stroke:#000000;
  stroke-width:0.1;
  stroke-dasharray:0.5,0.5;
}

//ids
.st174, .st176, .st180, .st183, .st184, .st186, .st188, .st190, .st192, .st194, .st199, .st709, .st711, .st715, .st716, .st718{
}



  .st363{fill:none;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;}
  .st364{fill:none;stroke:#000000;stroke-width:0.1;stroke-linejoin:round;}
  .st408{opacity:0.4;fill:none;stroke:#000000;stroke-width:0.1;stroke-linejoin:round;stroke-dasharray:0.5,0.5;}
  .st521{display:inline;fill:#969696;}
  .st522{display:inline;fill:none;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;}
  .st523{display:inline;opacity:0.4;}
  .st528{display:inline;opacity:0.4;fill:none;stroke:#000000;stroke-width:0.1;stroke-linejoin:round;stroke-dasharray:0.5,0.5;}
  .st539{display:inline;fill:#FF00FF;}
  .st543{display:inline;fill:#3FBFBF;}
  .st672{fill:none;stroke:#000000;stroke-width:0.1;}
  .st722{fill:none;stroke:#000000;stroke-width:0.1;}
  .st732{display:inline;fill:#9F2538;}





}