#svg-tower{

.svg-line-normal{
  fill:none;
  stroke:#000000;
  stroke-width:0.1;
  stroke-linecap:round;
  stroke-linejoin:round;
}


.scg-line-basic{
  fill:none;
  stroke:#000000;
  stroke-width:5.000000e-002;
  stroke-linejoin:round;
  stroke-dasharray:0.5,0.5;
}


  





}