.blender-samples{
	.title{
		@include span-columns(3);
	}
	.typo-example{
		@include span-columns(9);
		@include omega(2n);		
	}
}

.typo-book-italic{
	font-style: italic;
}

.typo-bold{
	font-family: blender-bold;
}

.typo-bold-italic{
	font-family: blender-bold;
	font-style: italic;
}