<div class="intro-text">
    <h1>Corporate identity</h1>
    <p>The overall strategy of a studio is directly connected to its identity, and every marketing or communication element must purposefully and effectively spring from that strategy. A graphic identity is not an arbitrary design task to address specific problems or issues,</p>
    <p>it is a long-term strategy to be integrated fully with a long-term business strategy.</p>
    <p>Every architectural practice is unique, and their identity springs from the practice’s roots, its personality, its strength and its weaknesses. The identity of BVN must have such clarity, that it becomes the yardstick against which its design, behaviour and actions are measured.</p>
    <p>Our identity must be visible, tangible and all-embracing. Everything that the studio does must be an affirmation of its identity.</p>
    <p>All communication material must have a consistent quality and character that accurately and honestly reflects the whole studio and its aim. Hence the management of the identity is a task that requires the active and serious attention for all those involved.</p>
    {% include signature.svg %}
    <p class="name">James Grose</p>
    <p class="role">National Director</p>
</div>
